<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel = "icon" href="https://cdn.discordapp.com/attachments/941470332739530844/1047248467199807628/toppng.com-umber-18-images-kyle-busch-18-427x308.png" type = "imge">
  <!--CSS files-->
  <link rel="stylesheet" href="public/Content/app.css"/>
  <link rel='stylesheet' href='/Content/app.css' />
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"/>
  
  </script>

</head>

<body>